
body{
    background: #2b3035;
}

h1{
    color: #78FA56;
}

p {
    color: #A1F58B;
}

span{
    color: #A1F58B;
}

h5 {
    color: #A1F58B; 
}

img{
    border-radius: 4%;
}

input{
    color: #fff;
}

label span{
    color:#fff;
}

button{
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: #2b3035;
    border-radius: 6px;
    border: none;
    border: 1px solid #fff;
}

button:hover {
    background-color: #78FA56;
}

#resume-btn{
    width: 130px;
    border-radius: 9px;
}

.dp{
    border: 1px solid #fff;
    border-radius: 40%;
    width: 280px;
    height: 300px;
}

img:hover{
    filter: brightness(1.1);
}

footer {
    width: 100%;
    margin-top: 10px;
}


